[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test.git
[submodule "sail-riscv"]
	path = sail-riscv
	url = https://github.com/riscv/sail-riscv.git
